/*Общее*/

body {
    font-size: 16px;
    line-height: 24px;
    font-family: "Roboto", "Arial", sans-serif;
    color: #283136;
    margin: 0;
}

.container {
    width: 1160px;
    padding: 0 20px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.main-header {
    margin-bottom: 60px;
    background: #eeeeee;
}

.main-header .container {
    border-bottom: 1px solid transparent;
}

.logo {
    float: left;
    width: 160px;
    margin-top: 49px;
    margin-right: 200px;
}

.logo:hover {
    opacity: 0.8;
}

.logo.disabled {
    opacity: 0.3;
}

.logo img {
    display: block;
}

.main-menu {
    float: left;
    width: 640px;
    margin-top: 74px;
}

.main-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0;
    line-height: 0;
}

.main-menu li {
    display: inline-block;
    margin-right: 47px;
}


.main-menu li:first-child {
    margin-right: 48px;
}

.main-menu ul li:last-child {
    margin-right: 0;
}

.main-menu a {
    display: block;
    position: relative;
    padding-bottom: 11px;
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}

.main-menu a.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fb565a;
}

.main-menu a:hover {
    color: #fb565a;
}

.main-menu .disabled {
    opacity: 0.3;
}

.user-block {
    float: right;
    width: 160px;
    margin-top: 75px;
    text-align: right;
}

.user-block a {
    position: relative;
    padding-left: 40px;
    padding-bottom: 11px;
    line-height: 30px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}

.user-block a::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 15px;
    height: 15px;
    background: url("../img/sprites.png") -166px -20px;
}

.user-block a:hover {
    color: #fb565a;
}

.user-block .disabled {
    opacity: 0.3;
}

.user-block a.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fb565a;
}

.btn {
    display: inline-block;
    box-sizing: border-box;
    line-height: 18px;
    padding: 16px 15px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    border-radius: 3px;
}

.btn.disabled {
    color: rgba(255, 255, 255, 0.3);
}

.btn-red {
    background: #fb565a;
}

.btn-red:hover {
    background: #e74246;
}

.btn-red.disabled {
    background: #d7373b;
}

.btn-red.disabled:hover {
    background: #d7373b;
}

.btn-green {
    background: #00ca74;
}

.btn-green:hover {
    background: #00bc6c;
}

.btn-green.disabled {
    background: #00aa62;
}

.btn-green.disabled:hover {
    background: #00aa62;
}

.btn-yellow {
    background: #efc849;
}

.btn-yellow:hover {
    background: #eab534;
}

.btn-yellow.disabled {
    background: #e5a722;
}

.btn-yellow.disabled:hover {
    background: #e5a722;
}

.btn-gray {
    background: #eeeeee;
    color: #000000;
}

.btn-gray:hover {
    background: #dfdfdf;
}

.btn-gray.disabled {
    background: #d5d5d5;
}

.btn-gray.disabled:hover {
    background: #d5d5d5;
}

.contacts {
  position: relative;
  height: 416px;
}


.contact-info {
    position: absolute;
    left: 49%;
    margin-left: -562px;
    width: 240px;
    padding-top: 50px;
    padding-bottom: 47px;
    padding-left: 50px;
    padding-right: 30px;
    line-height: 18px;
    top: 54px;
    background: #ffffff;
}

h2 {
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
}

.contact-info h1 {
    margin: 0;
    margin-bottom: 23px;
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    text-align: left;
    
}

.contact-info .btn {
    margin-top: 22px;
    width: 219px;
}

.main-footer {
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 69px;
}

.social-buttons {
    float: left;
    width: 261px;
    margin-right: 139px;
    font-size: 0;
}

.social-buttons a {
    display: inline-block;
    position: relative;
    margin-right: 12px;
    width: 79px;
    height: 79px;
    border-radius: 50%;
    background: #e1e1e1;
}

.social-buttons a:last-child {
    margin-right: 0;
}

.social-vk::after {
    content: "";
    position: absolute;
    top: 32px;
    left: 27px;
    width: 25px;
    height: 14px;
    background: url("../img/sprites.png") -112px -21px;
}

.social-fb::after {
    content: "";
    position: absolute;
    top: 28px;
    left: 33px;
    width: 12px;
    height: 22px;
    background: url("../img/sprites.png") -19px -16px;
    
}

.social-inst::after {
    content: "";
    position: absolute;
    top: 30px;
    left: 28px;
    width: 21px;
    height: 20px;
    background: url("../img/sprites.png") -63px -17px;
}

.social-buttons a:hover {
    background: #e74246;
}

.social-buttons .disabled {
    background: #d7373b;
    
}

.social-buttons .disabled:hover {
    background: #d7373b;
}

.social-buttons .disabled::after {
    opacity: 0.3;
}

.offer {
    float: left;
    width: 660px;
    line-height: 22px;
    padding-top: 5px;
}

.offer b {
    display: block;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 10px;
}

.offer p {
    margin: 0;
}



/*Главная*/

.slider {
    position: relative;
    overflow: hidden;
    width: 1160px;
    height: 430px;
}

.slider-controls {
    position: absolute;
    width: 200px;
    height: 18px;
    bottom: 96px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 0;
    z-index: 10;
}

.slider input {
    display: none;
}

.slider-controls label {
    display: inline-block;
    position: relative;
    width: 18px;
    height: 18px;
    margin-right: 17px;
    border-radius: 50%;
    background: #ffffff;
    box-sizing: border-box;
    border: 5px solid #ffffff;
}

#toggle-1:checked ~ .slider-controls label[for="toggle-1"],
#toggle-2:checked ~ .slider-controls label[for="toggle-2"],
#toggle-3:checked ~ .slider-controls label[for="toggle-3"] {
    background: #c1c1c1;
}

#toggle-1:checked ~ .slider-controls label[for="toggle-1"]::before,
#toggle-2:checked ~ .slider-controls label[for="toggle-2"]::before,
#toggle-3:checked ~ .slider-controls label[for="toggle-3"]::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 4px;
    height: 4px;
    background: #ffffff;
    border-radius: 50%;
}

.slider-controls label:last-child {
    margin-right: 0;
}

.slide {
    font-size: 0;
    border-top: 1px solid transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 431px;
}

.slide-left {
    display: inline-block;
    position: relative;
    z-index: 2;
    width: 380px;
    font-size: 16px;
    vertical-align: top;
    line-height: 24px;
    margin-right: 15px;
    margin-top: 77px;
}

.slide-right {
    width: 760px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0;
}

.slider .slogan {
    font-size: 55px;
    line-height: 55px;
    font-family: "Roboto Medium", sans-serif;
    margin-bottom: 25px; 
    color: #000000;
    letter-spacing: 0.2px;
}

.slider .btn {
    width: 240px;
}

.slide-left p {
    width: 330px;
    margin-bottom: 41px;
}

.slide-1 .slide-left {
    margin-top: 70px;
}

.slide-1 .slogan {
    margin-top: 5px;
    margin-bottom: 27px;
}

.slide-1 .slide-right {
    margin-left: 5px;
    
}

.slide-2 .slide-left {
    width: 510px;
}

.slide-2 .slogan {
    width: 530px;
    margin-bottom: 27px;
}

.slide-2 p {
    width: 410px;
}

.slide-2 .slide-right {
    margin-left: -125px;
}

.slide-3 .slide-left {
    width: 510px;
}

.slide-3 p {
    width: 350px;
}

.slide-3 .slide-right {
    margin-left: -125px;
    margin-top: -3px;
    
}

.slide {
   display: none;
}

#toggle-1:checked ~ .slider-slides .slide-1 {
    display: block;
}

#toggle-2:checked ~ .slider-slides .slide-2 {
    display: block;
}

#toggle-3:checked ~ .slider-slides .slide-3 {
    display: block;
}

.options {
    padding-top: 20px;
    border-bottom: 2px solid #eeeeee;
    
}

.option {
    float: left;
    width: 300px;
    margin-right: 100px;
    margin-bottom: 80px;    
}

.option:last-child {
    margin-right: 0;
}

.option img {
    display: block;
    margin-bottom: 25px;
}

.options h2 {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Roboto Medium", sans-serif;
    margin-bottom: 15px;
    letter-spacing: 0.2px;
}

.option p {
    width: 250px;
    margin-top: 0;
    margin-bottom: 33px;    
}


.option .btn {
    width: 160px;
}

.index-content {
    padding-bottom: 50px;
}

.index-content-left {
    float: left;
    width: 668px;
    margin-top: 74px;
    
}

.index-content-left b {
    text-transform: uppercase;
}

.index-content-right {
    float: right;
    width: 360px;
    margin-top: 40px;
    padding-left: 17px;
}

.index-content b.promo {
    display: block;
    font-size: 45px;
    line-height: 45px;
    text-transform: none;
    margin-bottom: 33px;
    letter-spacing: 0.37px;
}

.index-content-left p {
    margin-bottom: 40px;
}

.index-content-left ul {
    padding-left: 0;
    padding-top: 23px;
    margin: 0;
    list-style: none;
}

.index-content-left li {
    position: relative;
    margin-bottom: 24px;
    padding-left: 37px;
}

.index-content-left li::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 0;
    width: 25px;
    height: 2px;
    background: #fb565a;
}

.index-content-right img {
    margin-bottom: 29px;
}

.features {
    font-size: 0;
}

.features-item {
    display: inline-block;
    width: 95px;
    margin-right: 23px;
    font-size: 16px;
}

.features-item:last-child {
    margin-right: 0;
}

.index-content-right .promo {
    margin-bottom: 48px;
    margin-left: 15px;
    text-transform: uppercase;
    font-weight: bold;
}

.features-item .percent {
    font-size: 45px;
    line-height: 10px;
}

.percent sup {
    font-size: 26px;
}

.features .feature {
    display: block;
    margin-top: 20px;
    line-height: 18px;
    font-weight: normal;
}

.portfolio {
    position: relative;
    padding-top: 53px;
    padding-bottom: 43px;
    margin-bottom: 80px;
    border-top: 2px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;
    font-size: 0;
}

.portfolio a {
    display: inline-block;
    vertical-align: middle;
    width: 300px;
    box-sizing: border-box;
    
}

.portfolio a:first-child,
.portfolio a:nth-child(4) {
    width: 280px;
}

.portfolio a::after {
    content: "";
    position: absolute;
    top: 64px;
    bottom: 64px;
    width: 2px;
    height: 52px;
    background: #eeeeee;
    transform: translatex(-2px);
}

.portfolio a:first-child::after {
    display: none;
}

.portfolio a img {
    display: block;
    max-width: 210px;
    min-width: 172px;
    margin: 0 auto;
    opacity: 0.2;
}

.portfolio a:first-child img {
    padding-right: 20px;
}

.portfolio a:last-child img {
    padding-left: 20px;
}

.portfolio a:nth-child(2),
.portfolio a:nth-child(3) {
    margin-top: -6px;
}

.portfolio a:hover img {
    opacity: 1;
}

.portfolio .disabled img {
    opacity: 0.1;
}

.portfolio .disabled:hover img {
    opacity: 0.1;
}



/*Каталог*/


h1 {
    font-size: 55px;
    line-height: 55px;
    margin-top: 76px;
    margin-bottom: 108px;
    text-align: center;
    color: #000000;
    letter-spacing: -1px;
}

.filters {
    float: left;
    width: 260px;
    margin-top: -5px;
}

.filters h2 {
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 15px;
}

.price h2 {
    margin-bottom: 48px;
}

.price-range {
    position: relative;
    height: 80px;
    margin-bottom: 13px;
    padding-left: 21px;
    padding-right: 21px;
    background: #eeeeee;
    border-top: 1px solid transparent;
}

.price-scale {
    height: 2px;
    margin-top: 38px;
    background: #d7dcde;
}

.selected {
    display: block;
    width: 150px;
    height: 2px;
    background: #00ca74;
}

.price-toggle {
    position: absolute;
    height: 4px;
    width: 4px;
    background: #ababab;
    border-radius: 50%;
    border: 8px solid #ffffff;
    box-shadow: 0 2px 0 0 #cccdcd;
    cursor: pointer;
}

.price-toggle-min {
    top: 30px;
    left: 18px;
}

.price-toggle-max {
    top: 30px;
    left: 160px;
}

.price-output {
    margin-bottom: 54px;
    text-transform: uppercase;
}

.price-output input[readonly] {
    box-sizing: border-box;
    width: 80px;
    height: 38px;
    margin-left: 7px;
    padding: 5px;
    background: #eeeeee;
    border: none;
    border-radius: 3px;
    text-align: center;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
}

.price-output label[for="price-max"] {
    margin-left: 30px;
}

.filter ul {
    padding: 0;
    list-style: none;
}

.filter li {
    position: relative;
    margin-bottom: 20px;
    padding-left: 36px;
    line-height: 20px;
}

.layout input,
.features-filter input {
    display: none;
}

.layout.filter {
    margin-bottom: 46px;
}

.layout label::before {
    content: "";
    position: absolute;
    top: -3px;
    left: 1px;
    width: 17px;
    height: 17px;
    background: #ffffff;
    border-radius: 50%;
    border: 4px solid #4d4d4d;
    opacity: 0.4;
}

.layout input:checked ~ label::before {
    top: 1px;
    left: 5px;
    box-sizing: border-box;
    width: 17px;
    height: 17px;
    background: #4d4d4d;
    border: 5px solid #ffffff;
    box-shadow: 0 0 0 4px #4d4d4d;
}

.features-filter {
    margin-bottom: 50px;
}

.features-filter label::before {
    content: "";
    position: absolute;
    top: -1px;
    left: 1px;
    box-sizing: border-box;
    width: 23px;
    height: 23px;
    background: url("../img/sprites.png") -303px -15px;
    opacity: 0.4;
}

.features-filter input:checked ~ label::before {
    width: 27px;
    height: 23px;
    border: none;
    background: url("../img/sprites.png") -212px -15px;
    opacity: 0.4;
}

.filter li:hover {
    color: #000000;
}

.filter li:hover label::before {
    opacity: 1;
}

.filter input[disabled] ~ label {
    opacity: 0.3;
}

.filter input[disabled] ~ label::before {
    opacity: 0.1;
}

.filters .btn {
    width: 100%;
    border: none;
    font-size: 16px;
    line-height: 18px;
    font-family: "Roboto", "Arial", sans-serif;
}

.catalog-right {
    float: right;
    width: 760px;
    font-size: 0;
    line-height: 0;
    margin-bottom: 60px;
}

.sorting {
    margin-top: -1px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 56px;
    text-transform: uppercase;
}
.sorting b {
    float: left;
    width: 150px;
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    letter-spacing: -0.3px;
}

.sorting ul {
    float: left;
    width: 468px;
    padding: 0;
    margin-left: 51px;
    margin-right: 30px;
    text-align: right;
    list-style: none;
    font-size: 0;
    line-height: 0;
}

.order {
    float: right;
    width: 39px;
    height: 9px;
    position: relative;
    margin-top: -1px;
}

.sorting ul li {
    display: inline-block;
    margin-right: 25px;
}

.sorting li:last-child {
   margin-right: 0; 
}

.sorting a {
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    color: #000000;
    opacity: 0.3;
}

.sorting a.active {
    opacity: 1;
}

.sorting a:hover {
    opacity: 0.6;
}

.sorting .active:hover {
    opacity: 1;
}

.order a {
    display: inline-block;
    width: 0;
    height: 0;
    margin-right: 15px;
    vertical-align: middle;
    border: 5px solid transparent;
    border-top: 9px solid #000000;
    opacity: 0.2;
    
}

.order a:last-child {
    margin-right: 0;
    border: 5px solid transparent;
    border-bottom: 10px solid #000000;
    margin-top: -11px;
}

.order a:hover {
    opacity: 0.4;
}

.template-item {
    display: inline-block;
    position: relative;
    width: 360px;
    position: relative;
    vertical-align: top;
    margin-right: 40px;
    margin-bottom: 36px;    
    font-size: 16px;
    line-height: 24px;
    border-top: 41px solid #e9e9e9;
}

.template-item::before {
    content: "";
    position: absolute;
    top: -28px;
    left: 16px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 
        46px 0 0 0 #ffffff,
        23px 0 0 0 #ffffff;
}

.template-item:hover {
    border-top: 41px solid #4d4d4d;
    box-shadow: 0 9px 23px -2px rgba(0, 0, 0, 0.25);
}

.template-picture img {
    display: block;
    width: 100%;
    margin-top: 0;

}

.template-item:last-child,
.template-item:nth-last-child(2) {
    margin-bottom: 0;
}

.template-item:nth-child(3),
.itemplate-item:nth-child(4) {
    margin-bottom: 39px;
}

.template-item h2 {
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 17px;
    
}

.template-item p {
    width: 230px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
    line-height: 18px;
}

.template-item:nth-child(2n) {
    margin-right: 0;
}


.template-item .hover-block {
    display: none;
    width: 360px;
    text-align: center;
    position: absolute;
    z-index: 1;
    bottom: 0;
    padding-top: 12px;
    padding-bottom: 43px;
    background-color: #eeeeee;
}

.template-item:hover .hover-block {
    display: block;
}

.hover-block h2 {
    margin-bottom: -3px;
}

.hover-block h2 a {
    color: #000000;
    text-decoration: none;
}

.hover-block .btn {
    width: 200px;
}

.templates {
   margin-bottom: 61px;
}

.paginator {
    padding: 0;
    margin: 0;
    list-style: none;
}

.paginator li {
    display: inline-block;
    margin-right: 11px;
    font-size: 16px;
    line-height: 18px;
    vertical-align: top;
}

.paginator li:last-child {
    margin-right: 0;
}

.paginator a {
    display: block;
    box-sizing: border-box;
    min-width: 50px;
    height: 50px;
    padding: 16px 5px;
    text-align: center;
    background: #eeeeee;
    color: #000000;
    text-decoration: none;
    border-radius: 3px;
}

.paginator li:last-child a {
    padding: 16px 20px;
}

.paginator a:hover {
    background: #dfdfdf;
}

.paginator .disabled {
    padding-top: 14px;
    color: #a9a9a9;
    background: #d5d5d5;
    border-top: 3px solid #bfbfbf;
}

.paginator .disabled:hover {
    background: #d5d5d5;
}

.paginator .active {
    padding-top: 14px;
    background: #ffffff;
    border: 3px solid #dbdbdb;
}

.paginator .active:hover {
    background: #ffffff;
}

.paginator .btn {
    min-width: 260px;
    max-width: 280px;
}

main.container {
    margin-bottom {}
}

.contacts img {
    display: block;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}